.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .game-card {
    width: 500px;
    height: 400px;
  }
  
  .game-card:hover {
    transform: scale(1.5);
  }
  
  .game-card img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}