.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .task-card .secret-card {
    width: 500px;
    height: 400px;
  }
  
  .task-card:hover .secret-card:hover{
    transform: scale(1.5);
  }
  
  .task-card .image-card img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}